.gpt3__footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #031B34;
    margin-top: 5rem;
    padding: 6rem 6rem 2rem;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}
.gpt3__footer-container h1{
    font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 62px;
line-height: 75px;
text-align: center;
letter-spacing: -0.04em;
}

.gpt3__footer-container button{
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 1rem;
   background-color: #031B34;
    margin: 5rem 0;
    transition: 0.5s;
}
.gpt3__footer-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gpt3__footer-container button:hover{
    background-color: #FFFFFF;
    color: black;
}
.gpt3__footer-container-content{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    margin-bottom: 5rem;
    font-size: 12px;
    line-height: 14px;
}

   




.gpt3__footer-container-content-div1{
    display: flex;
    flex: 0.75;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
}
.gpt3__footer-container-content-groupB{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.gpt3__footer-container-content-div1 h3{
    font-size: 46px;
    line-height: 52px;
    margin-bottom: 2rem;
}
.gpt3__footer-container-content-groupB h3{
    font-family: 'Gilroy-Bold';
font-size: 14px;
line-height: 16px;
}

.gpt3__footer-container-content-groupB p{
    font-family: 'Gilroy-Bold';
    font-size: 12px;
    line-height: 14px;
    padding-top: 1rem;
}
.gpt3__footer-container-content-links{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 950px) {
    .gpt3__footer-container-content{
        flex-direction: column;
        
        
    }
.gpt3__footer-container-content-div1{
    margin-bottom: 0rem;
    justify-content: flex-start;
        align-items: flex-start;
}
.gpt3__footer-container-content-div1 p{
    padding-top: 0.5rem;
}
.gpt3__footer-container-content-div1 h3{
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 1rem;
}
    
}
@media screen and (max-width: 550px) {
    .gpt3__footer-container-content-groupB{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        
        text-align: left;
        

    }
    .gpt3__footer{
       
        padding: 2rem 2rem;
        margin: 2rem;
    }

.gpt3__footer-container h1{
    font-size: 36px;
    line-height: 40px;
    text-align: center;
}
.gpt3__footer-container button{
    font-size: 14px;
    line-height: 16px;
    border: 1px solid #FFFFFF;
    padding: 0.5rem;
}
  

.gpt3__footer-container-content-links h3{
 margin-top: 2rem;
}
.gpt3__footer-container-content-links p{
    padding: 0.5rem 0;
}
    
}